{% load static i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% translate "Вход" %} | HelpDesk</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/sign-in.css' %}" rel="stylesheet">
</head>

<body class="d-flex align-items-center justify-content-center vh-100 bg-body-tertiary">
  <main class="form-signin card p-4 shadow-sm rounded-4" style="max-width: 420px; width: 100%;">
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <div class="text-center mb-3">
        <img class="mb-3" src="{% static 'img/logo.png' %}" alt="Logo" style="height: 80px;">
        <h5 class="fw-bold text-success">{% translate "Учетная запись успешно активирована, повторите вход" %}</h5>
      </div>

      <div class="form-floating mb-3">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username" required>
        <label for="floatingInput">{% translate "Логин" %}</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="password" required>
        <label for="floatingPassword">{% translate "Пароль" %}</label>
      </div>

      <div class="mb-3 d-flex justify-content-between align-items-center">
        <a href="{% url 'users:recovery' %}" class="small text-decoration-none">{% translate "Забыли пароль" %}?</a>
      </div>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger py-2 px-3 mb-3" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <button class="btn btn-primary w-100 py-2 mb-2" type="submit">{% translate "Войти" %}</button>

      <a href="{% url 'users:register' %}" class="btn btn-outline-secondary w-100">{% translate "Зарегистрироваться" %}</a>
    </form>
  </main>
</body>