{% extends 'main/index.html' %}
{% block content %}
    <div class="container">
        <form class="text-body-color mb-12 form-control" method="post" enctype="multipart/form-data">
            <div class="col-12">

                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                            Сохранить
                        {% else %}
                            Создать
                        {% endif %}
                    </button>
                    <a class="btn btn-primary" href="{% url 'main:index' %}" role="button">Отмена</a>
                </div>

        </form>
    </div>

{% endblock %}