{% extends 'main/index.html' %}
{% load tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-10">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" style="text-align: left">Тема: {{object.title}} </h4>
                </div>
                <div class="card-body">
                    {% if object.img %}
                    {% include 'includes/inc_image.html' %}
                    {% endif %}
                    <div class="card-text" style="text-align: left; border:1px ; margin-bottom: 10px">Содержание: {{object.description}}</div>
                    <div class="card-text" style="text-align: left; border:1px ; margin-bottom: 10px">Статус: {{ object.get_status_display }}</div>
                    <div class="card-text" style="text-align: left; border:1px ; margin-bottom: 10px">Дата создания: {{ object.created_at }}</div>
                    {% if object.commentary %}
                    <div class="card-text" style="text-align: left; border:1px ; margin-bottom: 10px">Решение: {{ object.commentary }}</div>
                    {% endif %}
                    {% if object.executor %}
                    <div class="card-text" style="text-align: left; border:1px ; margin-bottom: 10px">Исполнитель: {{ object.executor.username }}</div>
                    {% endif %}
<!--                    <a class="btn btn-primary" href="{% url 'main:task_detail' task.pk %}"-->
<!--                       role="button">Посмотреть</a>-->
                    <a class="btn btn-primary" href="{% url 'main:task_update' task.pk %}"
                       role="button">Изменить</a>
<!--                    <a class="btn btn-primary" href="#"-->
<!--                       role="button">Удалить</a>-->
                    <a class="btn btn-primary" href="{% url 'main:index' %}" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}